.flex-container {
    display: flex;
    position: absolute;
    top: 40%;
    left: 43%;
}




button {
    background-color:#848C8E;
    color: black;
    border: solid black 2px;
    width:100%
}

#calculator {
    
    border: 5px solid black;
    padding: 10px;
    background-color: steelblue;
}

h2 {
    background-color: #3C1642;
    border: 5px solid green;
    color: white;
    text-align: center;
}

body {
    background-color: #71B48D;
}



